@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


$primary-color: #48BF72;
$gray-bg: #192031;
$secondary-color: #2b3040;
$text-color: #ffffff;
$gray: #eaeaea;
$light-gray: #aaadbb;
$gold: #fedc3f;

$text-font: 'Lato', sans-serif;